$TTL	604800
{{ domain_name }}.	IN	SOA	{{ vm2 }}.{{ domain_name }}. root.{{ domain_name }}. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
{{ domain_name }}.      IN	NS	{{ vm2 }}
{{ vm1 }}     IN	A	{{ vm1_ip }}
{{ vm2 }}     IN	A	{{ vm2_ip }}
