options {
	directory "/var/cache/bind";
	forwarders {
      {% for i in dns_forwarders %}
	    {{ i }};
      {% endfor %}
	};
      allow-query {127.0.0.0/8; 192.168.42.0/24; 172.17.0.0/16;};
	dnssec-validation no;
	auth-nxdomain no;
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
